<h1>Hi {{currentUser.roleInfo.name}}!</h1>
<h3>All registered users:</h3>
<!-- <div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Street</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>pin</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users.clientsInfo">
                <td>{{user.name}}</td>
                <td>{{user.address.street}}</td>
                <td>{{user.address.address1}}</td>
                <td>{{user.address.city}}</td>
                <td>{{user.address.state}}</td>
                <td>{{user.address.country}}</td>
                <td>{{user.address.pinCode}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="street">
            <th mat-header-cell *matHeaderCellDef> Street </th>
            <td mat-cell *matCellDef="let element"> {{element.address.street}} </td>
        </ng-container>

        <ng-container matColumnDef="address1">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address.address1}} </td>
        </ng-container>

        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> City </th>
            <td mat-cell *matCellDef="let element"> {{element.address.city}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef> State </th>
            <td mat-cell *matCellDef="let element"> {{element.address.state}} </td>
        </ng-container>

        <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.address.country} </td>
      </ng-container>
      
    <ng-container matColumnDef="pinCode">
        <th mat-header-cell *matHeaderCellDef> pin </th>
        <td mat-cell *matCellDef="let element"> {{element.address.pinCode}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>